
  .container_foto {
    background-color: rgba(57, 62, 93, 0.333);
    padding: 0;
    overflow: hidden;
    /* width: 100%; */
    max-width: 350px;
    margin: 5px;
    /* border: 1px solid black; */
    border-radius: 2%;
    box-shadow: 1px 3px 6px #304bfd2f;
  }
  
  .container_foto article {
    padding : 3%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .container_foto h2 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 25px;
    border-bottom: rgba(0, 0, 0, 0.592) solid 1px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
  
  .container_foto h4 {
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: 10%;
  }
  
  .container_foto img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -o-transition: all 4s ease;
    -ms-transition: all 4s ease;
    transition: all 4s ease;
  }
  
  .ver_mas {
    background-color: #6873f5;
    position: absolute;
    /* width: 100%; */
    width: 350px;
    height: 40px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 40px);
    -webkit-transform: translate(0px, 40px);
    -moz-transform: translate(0px, 40px);
    -o-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .ver_mas span {
    font-size: 40px;
    color: #fff;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 13px;
  }
  
  
  /*hovers*/
  
  .container_foto:hover {
    cursor: pointer;
    box-shadow: 1px 3px 6px #304bfd7d;
  }
  
  .container_foto:hover .bg-image {
    opacity: 0.1;
    transform: scale(1.5);
  }
  
  .container_foto:hover article {
    transform: translate(2px, -30px);
    -webkit-transform: translate(2px, -30px);
    -moz-transform: translate(2px, -30px);
    -o-transform: translate(2px, -30px);
    -ms-transform: translate(2px, -30px);
  }
  
  .container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
  }
  .link-icon
  {
    width: 20px;
  }